<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      {{$menu.selectedItem}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!$auth.isAuthenticated">
    <ion-card-header center text-center>
      <a>Sign in</a> to give a personal touch to your reading list
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let item of items | async">
    <ion-card-header>
      {{item.title}}
    </ion-card-header>
    <ion-card-content>
       <p *ngFor="let paragraph of item.summary">{{paragraph}}</p>
    </ion-card-content>
      <ion-row>
        <ion-col>
          <button color="dark" ion-button icon-left clear small>
            <ion-icon name="bookmark"></ion-icon>
            <div>Save</div>
          </button>
        </ion-col>
        <ion-col center text-right>
          <ion-note>
            <a href="{{item.url}}">{{item.url}}</a>
          </ion-note>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
